$color-white: #ffffff;
$color-black: #000000;
$color-red: #DA291C;
$color-orange: #ED8B00;
$color-yellow: #FFCD00;
$color-green-1: #E3E48D;
$color-green-2: #C4D600;
$color-green-3: #86BC25;
$color-green-4: #43B02A;
$color-green-5: #009A44;
$color-green-6: #046A38;
$color-green-7: #2C5234;
$color-blue-1: #A0DCFF;
$color-blue-2: #62B5E5;
$color-blue-3: #00A3E0;
$color-blue-4: #0076A8;
$color-blue-5: #005587;
$color-blue-6: #012169;
$color-blue-7: #041E42;
$color-teal-1: #DDEFE8;
$color-teal-2: #9DD4CF;
$color-teal-3: #6FC2B4;
$color-teal-4: #00ABAB;
$color-teal-5: #0097A9;
$color-teal-6: #007680;
$color-teal-7: #004F59;
$color-gray-1: #D6DEE1;
$color-gray-2: #D0D0CE;
// $color-gray-3:
$color-gray-4: #BBBCBC;
// $color-gray-5:
$color-gray-6: #A7A8AA;
$color-gray-7: #97999B;
// $color-gray-8:
$color-gray-9: #75787B;
$color-gray-10: #63666A;
$color-gray-11: #53565A;
